<div class="show">
    <h1 align="center">
      <%= @article.title %>
    </h1>
    <div class="show__container">
        <div class="bg-image ">
        <%= image_tag @article.image %>
        </div>
        
        <div class="content">
          <p>
          <%= @article.content %>
          </p>
        </div>
        <div class="likes">
            <% if current_user %>
                <% if @current_like %>
                    <div>
                      <span>
                        <p>
                          <%= button_to "Unlike", article_like_path(@article, @current_like), class:"btn btn--unlike", method: :delete %>
                        </p>
                      </span>
                    </div>
                <% else %>
                    <div>
                      <span>
                        <p>
                          <%= button_to "like" ,article_likes_path(@article), class:"btn btn--like" %>
                        </p>
                      </span>
                    </div>
                <% end %>
            <% end %>
            <span class="likes__count">
              <%= pluralize(@likers.size, "like")%>
            </span>
            <p>
              <strong>Author:</strong>
              <%= @article.user.name %>
            </p>
            <% if @article.categories.any? %>
                <div class="category">
                    <p>
                        <span class="category__title">Categories: </span>
                        <%= render @article.categories %>
                    </p>
                </div>
            <% end %>
<% if current_user %>
            <%= button_to 'Delete this article', article_path(@article), class:"btn btn--danger", method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
            </div>
    </div>
<!--<%= link_to 'Edit', edit_article_path(@article) %> |-->
<!--<%= link_to 'Back', articles_path %>-->
</div>