<div id="<%= dom_id user_location %>">
  <p>
    <strong>Latitude:</strong>
    <%= user_location.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= user_location.longitude %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user_location.city %>
  </p>

   <p>
    <strong>Time:</strong>
    <%= user_location.created_at.in_time_zone(+3) %>
  </p>

</div>
