<header class="header" data-controller="humburger">
   
    <div class="logo-menu">
      <div class="humburger"  data-action="click->humburger#toggleNav">
        <span class="line1"></span>
        <span class="line2"></span>
        <span class="line3"></span>
      </div>
      <h2 class="logo">WriTEhUb<span class="logo__dot"></span></h2>
    </div>
    <nav data-humburger-target="nav">
        <ul class="menu" data-action="click->humburger#closeNav">
        <li>
          <%= link_to "Home", root_path, class: "menu__item" %>
        </li>
        
        <% Category.priority_cat.each do |category| %>
                <li>
                  <%= link_to category.name, category_path(category), class: "menu__item " %>
                </li>
        <% end %>  
        <% if current_user %>
          <li class="create">
            <%= link_to 'create category', new_category_path, class: "header__menu__item" %>
          </li>
          <li class="create">
              <%= link_to 'create article', new_article_path, class: "header__menu__item dashboard" %>
          </li>
          <li>
            <%= link_to 'Logout', logout_path, data: { turbo_method: :delete }, class: "header__menu__item" %>
          <li>
        <% else %>
          <li>
            <%= link_to 'Login', login_path, class: "header__menu__item header__menu__item--line" %>
          </li>
          <li>
            <%= link_to 'Register', new_user_path, class: "header__menu__item" %>
          </li>
        <% end %>
        </ul>
    </nav>
    <div class="header__user">
      <ul>
        
        <li><i class="fas fa-search "></i></li>
      </ul>
    </div>
</header>